body {
  margin: 0;
  font-family: 'Roboto';
  -moz-osx-font-smoothing: grayscale;
  background-color: #101523;
  height: 100%;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
